<main>
  <section class="recoverSection">
    <div class="recoverDiv">
      <span class="logo">JA</span>
      <h1 class="recoverTitle">Recuperar Contraseña</h1>
      <form class="recoverForm" id="recoverForm">
        <span></span>
        <label>Correo electrónico</label>
        <input type="email" name="email" placeholder="email@gmail.com" />
        <label>Nueva contraseña</label>
        <input type="password" name="password" placeholder="********" />
        <button class="recoverButton">Cambiar contraseña</button>
      </form>
      <a href="/login" style="color: #ffff; margin-top: 20px;">¿Ya tienes una
        cuenta? Inicia Sesion.</a>
    </div>
  </section>
</main>

<script src="/js/recover.js"></script>